# Proteccion de directorios
Options -Indexes

# Proteger archivos sensibles
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^(composer\.lock|composer\.json|package\.json|package-lock\.json)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Configuración PHP comun
<IfModule mod_php.c>
    php_value upload_max_filesize 5M
    php_value post_max_size 6M
    php_value memory_limit 128M
</IfModule>

# Headers de Seguridad
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
