# Denegar todo acceso directo a esta carpeta y subcarpetas
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^ - [F,L]
</IfModule>

# Fallback si mod_rewrite no está disponible
<FilesMatch ".*">
    Order allow,deny
    Deny from all
</FilesMatch>
