# Denegar todo por defecto
Order Deny,Allow
Deny from all


# Deshabilitar ejecución de scripts PHP (Capa extra de seguridad)
<IfModule mod_php.c>
    php_flag engine off
</IfModule>

# Prevenir listado de directorio
Options -Indexes
